.books-container {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    padding: 10px 25px;
}

.book-card {
    display: flex;
    flex-direction: row;
    gap: 50px;
    width: 90%;
    margin: 25px auto;
    padding: 25px;
    border: 1px solid rgb(218, 217, 217);
    border-radius: 10px;
    
}

.book-img {
    width: 40%;
}

.book-description {
    display: flex;
    flex-direction: column;
    width: 75%;
}

.book-img img {
    width: 80%;
}

@media screen and (max-width: 768px) {
    .book-card {
        flex-direction: column;
    }

    .book-img {
        width: 80%;
        margin: auto;
    }
}